/* 
Global Styles
======================================================
*/

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Montserrat" sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

.nav-container,
.tour {
  background-color: black;
}

.btn,
.nav-link,
.nav-link-home,
.nav-container,
.finder,
.tour {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tour-btn {
  display: inline-block;
  padding: 0.75em 1.35em;
  text-decoration: none;
  background-color: black;
  color: white;
}
/* 
Layout
======================================================
*/
.container {
  display: grid;
  grid-template-columns: 70px auto auto;
  grid-template-rows: auto auto;
  /* background-color: aliceblue; */
}

.nav-container {
  padding: 1em;
}

/* 
Navigation
======================================================
*/
/* The UL */
.nav-links {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}
.nav-link:hover {
  background-color: grey;
}
.nav-item {
  padding: 1em;
}
.nav-link,
.nav-link-home {
  text-decoration: none;
  cursor: pointer;
}
.btn {
  cursor: pointer;
  grid-column: 5 / 6;
  grid-row: 1 / 1;
  align-self: center;
  justify-self: flex-end;
}
.nav-link-home {
  padding: 1em;
  grid-column: 1 / 5;
}
.nav {
  grid-column: 1 / 6;
  grid-row: 2 / -1;
}
.hidden {
  display: none;
}

.finder {
  display: none;
  justify-self: flex-end;
  align-self: center;
}

@media (min-width: 600px) {
  .nav {
    grid-column: 2 /3;
    grid-row: 1 /1;
  }
  .nav-link-home {
    /* justify-self: flex-start; */
    align-self: center;
    grid-column: 1 /1;
  }
  .nav-links {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
  }
  .finder {
    display: block;
  }
  .btn {
    display: none;
  }
}

/* 
Hero Section
======================================================
*/
/* img elements */
.hero-slides {
  display: none;
}
.hero {
  position: relative;
}
.hero-slides h2 {
  color: white;
  display: none;
}
@media (min-width: 600px) {
  .hero-slides h2 {
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* 
Band Section
======================================================
*/
.band {
  margin: 1em;
}
.band-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / -1;
}
.band-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.band-img {
  width: 18em;
  height: 18em;
  border-radius: 4px;
}

@media (min-width: 600px) {
  .band-description {
    max-width: 800px;
  }
  .band-img-container {
    display: flex;
    flex-direction: row;
  }
  .band-img {
    margin-left: 3em;
  }
}

/* 
Tour Section
======================================================
*/

/* Entire section */
.tour {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
}

/* Holds all the content in this section */
.tour-content-container {
  width: 90%;
  max-width: 900px;
  padding: 0 1em;
}
/* Holds the title and subtitle */
.tour-heading {
  text-align: center;
}

.tour-subtitle {
  color: #ffffff;
  font-style: italic;
}

/* The ul for the tour dates */
.tour-date-container {
  border: 1px solid red;
}

/* The li */
.tour-date {
  padding: 0.75em 1em;
  background-color: #ffffff;
  color: grey;
  border-bottom: 0.2px solid rgb(217, 217, 217);
}

/* The flex container for the November tour date li */
.tour-date-flex {
  display: flex;
  justify-content: space-between;
}
/* the span in the li */
.tour-date-sold-out {
  background-color: red;
  color: white;
  padding: 0.1em 0.25em;
  margin-left: 1em;
}
/* the span in the li */
.tour-date-left {
  height: 25px;
  width: 25px;
  color: white;
  text-align: center;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
.tour-cards {
  display: flex;
  flex-direction: column;
}

/* The entire card */
.tour-card {
  width: 100%;
  margin: 1em 0;
  background-color: white;
  color: black;
}

.tour-card-text {
  padding: 1em;
}
.tour-card-img {
  width: 100%;
}
.tour-card-subtitle {
  color: grey;
}
.tour-card .btn {
  background-color: black;
}

@media (min-width: 600px) {
  .tour-cards {
    flex-direction: row;
  }
  .tour-card {
    margin-right: 0.75em;
  }
  .tour-card:last-child {
    margin-right: 0;
  }
}

/* 
Contact 
==============================================================
*/
.contact {
  padding: 1em;
}
.contact-heading {
  text-align: center;
}
.contact-subtitle {
  color: grey;
  font-style: italic;
}
.contact-info-description {
  margin-left: 1em;
}
